<nav class="flex justify-between mb-8">
    <h1>
        <a href="/" class="text-4xl font-extrabold text-gray-900 uppercase hover:italic">logo</a>
    </h1>
    <% unless user_signed_in? %>
        <div class="flex gap-6 ">
            <a href="/users/sign_in" class="flex items-center p-2 font-bold text-gray-200 capitalize bg-orange-600 rounded-md hover:bg-orange-800">Login
            <span>
                <%= inline_svg_tag("arrow-right-circle.svg", class: "size-6") %>
            </span>
            </a>
            <a href="/users/sign_up" class="p-2 font-bold text-gray-200 capitalize bg-gray-800 rounded-md hover:bg-gray-600">Signup</a>
        </div>
    <% else %>
        <div class="flex gap-6 ">
            <a href="/users/sign_out" data-turbo-method="delete" class="flex items-center p-2 font-bold text-gray-200 capitalize bg-orange-600 rounded-md hover:bg-orange-800">Logout
            <span>
                <%= inline_svg_tag("arrow-right-circle.svg", class: "size-6") %>
            </span>
            </a>
            <a href="/dashboard" class="p-2 font-bold text-gray-200 capitalize bg-gray-800 rounded-md hover:bg-gray-600">Dashboard</a>
        </div>
    <% end %>
</nav>